
{% load static %}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Youtube Downloader</title>
		<link rel="stylesheet" href="{% static 'downloader/css/homepage.css' %}"/>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


	</head>
	<body>
		<div class="container">

			<div id="title">
				Youtube to mp3 converter
			</div>

			<form id="my-form" action="/submit_link" method="GET" autocomplete="off">
				<!-- <input id="url_input" name="url_input" type="text" value=""> -->
				<input id="url_input" name="url_input" type="text" value="https://www.youtube.com/watch?v=7ivuzPd3lfs">
				<div class="button_container">
					<button id="submit_button" class="click_animation" type="submit">Convert &ltEnter&gt</button>
				</div>


				<script>

					var shouldPauseEnter = false;
					document.getElementById('my-form').onsubmit = function() {
						if (shouldPauseEnter){
							console.log("blocked enter");
							return false;
						}
						else{
							shouldPauseEnter = true;
							$("#submit_button").html("Converting...");
							$("#submit_button").removeClass("click_animation");
							$("#error_message").css("display", "none");
							console.log("removed animation click");
							return true;
						}
					};

				</script>


				<div id="error_message" style="display: {{ displayErrorVar|yesno:"block, none" }};">
					Link is invalid
				</div>
			</form>

				<div class="button_container">
					<!-- <link rel="stylesheet" href="{% static 'downloader/css/homepage.css' %}"/> -->
					<a href="{{ song_url }}" download>
						<button id="download_button" class="click_animation">Download</button>
					</a>
				</div>

		</div>
	</body>
</html>
