
{% load static %}
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Youtube Downloader</title>
		<link rel="stylesheet" href="{% static 'downloader/css/homepage.css' %}"/>
	</head>
	<body>
		<div class="container">

			<div id="title">
				Youtube to mp3 converter
			</div>
			<input id="url_input" name="city" type="text" value="{{ form.city.value }}">

			<div class="button_container">
				<button id="submit_button" type="submit">Download &ltEnter&gt</button>
			</div>

			<div class="error_message">
				Link is invalid
			</div>

		</div>
	</body>
</html>
